<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript" charset="utf-8" src="/js/jquery-1.4.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/core.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/match.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/matchlist.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/drawing.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/ui.js"></script>
    <!--[if IE]>
        <script type="text/javascript" charset="utf-8" src="/js/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
    <title>{{ title }} - Courier</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
