{% extends 'base.htm' %}

{% block content %}
oh hello, welcome!
<div class="robotlist"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // this is written through template substitution on the server.
            var matchId = "{{ match_id }}";
            var m = new courier.match.Match(matchId, courier.core.readCookie(matchId));
            console.log(courier.core.readCookie(matchId));
            courier.ui.WatchMatchRobots(m, $(".robotlist"));
            m.populate(true);
        });
    </script>
{% endblock %}
