{% extends 'base.htm' %}

{% block content %}
<a href="/matches/" class='matchlist_refresh'>Refresh</a>
<div class='matchlist'>
    <ul>
        {% for match in matches %}
        <li><a href="matches/{{ match }}">{{ match }}</a></li>
        {% endfor %}
    </ul>
</div>
<a href="/matches?register=true">Register match </a>
<br />
<a href="/matches?register=t&private=t">Register private match </a>
{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var ml = new courier.MatchList();
            var mljq = $(".matchlist").empty();
            var ml_loading = $("<div>One moment...</div>").appendTo(mljq);
            ml.on_new_match(function(match) {
                var match_jq = $("<li>Match " + 
                    "<a href='" + match.mid + "'>" + match.mid + "</a>" +
                    "</li>").appendTo(mljq);
                match.render_list($("<div>").appendTo(match_jq));
                ml.on_match_delete(match, function() {
                    match_jq.fadeOut(function() {$(this).remove();});
                });
            });
            ml.populate(true, function() {
                ml_loading.remove();
            });
        });
    </script>
{% endblock %}
