{% extends 'base.htm' %}

{% block content %}
<a href="/matches/" class='matchlist_refresh'>Refresh</a>
<div id='matchlist'>
    <ul>
        {% for match in matches %}
        <li><a href="matches/{{ match }}">{{ match }}</a></li>
        {% endfor %}
    </ul>
</div>
<a class="register" href="/matches?register=true">Register match </a>
<br />
<a class="register private_button" href="/matches?register=t&public=f">Register private match </a>
{% endblock %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            courier.ui.RenderMatchList($("#matchlist"));

            $(".register").click(function() {
                var jq = $(this);
                courier.matchlist.registerMatch(
                    !(jq.hasClass('private_button')),
                    function(match, code) {
                        courier.core.createCookie(match.mid, code, 1);
                        window.location.pathname = "/matches/" + match.mid;
                    });
                return false;
            });
        });
    </script>
{% endblock %}
